/* From Uiverse.io by Ali-Tahmazi99 */ 
/* From uiverse.io by @Ali-Tahmazi99 */
button {
 display: flex;
 justify-content: center ;
 align-items: center;
 width: 150px;
 font-size: 25px;
 font-weight: 700;
 height: 50px;
 border: 2px solid #fb8669b4;
 position: relative;
 overflow: hidden;
 transition: all 0.5s ease-in;
 z-index: 1;
}

button::before,
button::after {
 content: '';
 position: absolute;
 top: 0;
 width: 0;
 height: 100%;
 transform: skew(15deg);
 transition: all 0.5s;
 overflow: hidden;
 z-index: -1;
}

button::before {
 left: -10px;
 background: #fb8669cb;
}

button::after {
 right: -10px;
 background: #fb8569;
}

button:hover::before,
button:hover::after {
 width: 58%;
}

button:hover span {
 color: #000000;
 transition: 0.3s;
}

button span {
 color: #fb8569;
 font-size: 18px;
 transition: all 0.3s ease-in;
}