@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Chenla&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Siemreap&display=swap");

:root {
  /* font family */
  --font-style: "JetBrains Mono", serif;
  --font-poppins: "Poppins", sans-serif;
  --font-cabin: "Cabin", sans-serif;
  --font-lexenddeca: "Lexend Deca", sans-serif;
}

* {
  @apply select-none;
  // border: 1px solid green;
  box-sizing: border-box;
  font-family: var(--font-lexenddeca) !important;
}

body {
  background-color: #000000;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }



  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
  }
}

input {
  outline: none !important;
  border: none !important;
  color: #fb8569 !important;
  background-color: #fb8669fa;
}

label {
  color: #fb8569 !important;
}

textarea {
  outline: none !important;
  border: none !important;
  color: #fb8569 !important;
}

input::placeholder,
textarea::placeholder {
  color: #fb8569 !important;
  opacity: 0.5;
}